.header img{
    height: 80px;
    display: inherit;
    margin: 4px auto;
}
.nav-link{
    color: white !important;
    font-size: 18px;
}
.nav-link:hover{
    background-color:gray ;
    color: white;
}